@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

// Nav bar

.nav-container {
    background: #6700EE;

    a {
        color: white;
    }

}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: #00F7FF;
        font-weight: bold;
    }
}